.animate-gradient {
    background-size: 200% auto;
    animation: gradient 3s ease infinite;
}

@keyframes gradient {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

.group:hover .group-hover\:scale-110 {
    transform: scale(1.1);
}

.group:hover .group-hover\:-translate-y-1 {
    transform: translateY(-4px);
}

.group:hover .group-hover\:rotate-1 {
    transform: rotate(1deg);
}

.transition-transform.duration-10000 {
    transition-duration: 10s;
}

.transition-transform.duration-7000 {
    transition-duration: 7s;
}

.image-dark-edge {
    position: absolute;
    inset: 0;
    border-radius: inherit;

    background:
        linear-gradient(to bottom, rgb(255, 240, 133, .25), transparent 15%),
        linear-gradient(to top, rgb(255, 240, 133, .25), transparent 15%),
        linear-gradient(to right, rgb(255, 240, 133, .25), transparent 5%),
        linear-gradient(to left, rgb(255, 240, 133, .25), transparent 5%);
}

[data-carousel-slide-to] {
  background-color: rgba(255,255,255,.45) !important;
  transition: background-color .2s ease;
}

[data-carousel-slide-to]:hover {
  background-color: rgba(255,255,255,.75) !important;
}

[data-carousel-slide-to][aria-current="true"] {
  background-color: white !important;
}