name: Build and Deploy
on:
  push:
    branches:
      - master
  workflow_dispatch:
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: All things angular
      uses: AhsanAyaz/angular-deploy-gh-pages-actions@v1.4.0
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
        base_href: /web/
        deploy_branch: gh-pages
        angular_dist_build_folder: dist/lightsout/browser

permissions:
  contents: write
